game_data/packed
game_data/unpacked/*/*
!game_data/unpacked/digi_data.json
!game_data/unpacked/images/converted
game_data_TS/packed
game_data_TS/unpacked/*/*
!game_data_TS/unpacked/digi_data.json
!game_data_TS/unpacked/images/converted
game_data_TS/dds_cache.json
node_modules/
out/