body {
	font-family: Trebuchet MS;
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 100%;
	
background: -moz-linear-gradient(top,  rgba(51,78,155,0.65) 0%, rgba(51,78,155,0.64) 2%, rgba(0,0,0,0) 100%);
background: -webkit-linear-gradient(top,  rgba(51,78,155,0.65) 0%,rgba(51,78,155,0.64) 2%,rgba(0,0,0,0) 100%);
background: linear-gradient(to bottom,  rgba(51,78,155,0.65) 0%,rgba(51,78,155,0.64) 2%,rgba(0,0,0,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6334e9b', endColorstr='#00000000',GradientType=0 );

}

#load_hider {
	z-index: 9;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: #FFFFFF;
	top: 57px;
}

#content {
	z-index: 1;
	position: fixed;
	top: 0;
	height: 100vh;
	width: 100vw;
}

#particles {
	z-index: 0;
	position: fixed;
	top: 0;
	height: 100vh;
	width: 100vw;
	pointer-events: none;
}

#particles.game_loader {
	z-index: 12;
}

#options {
	font-size: 34px;

	cursor: pointer;
	z-index: 20;
}

#options_pane {
	z-index: 20;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: rgba(255,255,255,0.5);
	display: none;
	top: 57px;
	
	align-items: center;
	justify-content: center;
}

#options_container {
	background-color: #FFFFFF;
	padding: 20px;
	border-radius: 20px;
	-webkit-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.75);
}


#options_container .row {
	padding: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 20px;
}

#options_container .row .label{
	margin: 5px 15px;

}

#options_container .row .value{
	margin: 5px 15px;
	
}

#gameFilesPath {
	width: 600px;
	max-width: 80vw;
}

#refresh_path {
	cursor: pointer;
}

#reload_btn {
	padding: 20px;
	cursor: pointer;
	border-radius: 15px;
	background-color: #334e9b;
	color: #FFFFFF;
}

.tool_header {
	margin: 0;
	padding: 10;
	background-color: #334e9b;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 2rem;
	height: 37px;
	align-items: center;
}

.header {
	margin: 0;
	padding: 0;
	color: #334e9b;
	font-size: 20px
}

.digi_select {
	margin-top: 3px;
	width: 200px;
}

.control_block {	
	background-color: #F1F1F1;
	color: #444444;
	padding: 5px;
	display: inline-block;
	margin: 4px;
	border-radius: 4px;
	position: relative;
	height: 71px;
    width: 283px;
}

.control_block .db_link {
	display: none;
}



.control_block .digi_select {
	position: absolute;
	bottom: 4px;		
	left: 4px;
}

.controls_arrow {
	display: inline-block;
	color: #334e9b;
	position: relative;
	width: 20px;
}

.controls_arrow i {
	position: absolute;
	top: 0px;
}

#controls {
	position: relative;
	width: 100%;
	height: 240px;
	background-color: white;
	border-bottom: 2px solid #334e9b;
}

.path_digi_node {
	border-radius: 4px;
	padding: 5px;
	margin: 10px;
	display: block;
	width: 320px;	
	margin-left: auto;
	margin-right: auto;
	position: relative;
	justify-content: flex-start;
	background-color: #FFFFFF;
	color: #444444;
	-webkit-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.75);
box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.75);
}

.path_digi_node_regular {
	color: #3b5ac3;
	/*border: 2px solid #8c98d2;*/
}

.path_digi_node_move {
	color: #3bc384;
	/*border: 2px solid #8cd29a;*/
}

#path_container{
	max-height: calc(100% - 43px);
	overflow-y: auto;
	position: relative;
}

.path_arrow {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	position: relative;
}

.set_start_button{
	position: absolute;
	top: 0px;
	right: 25px;
	color: #444444;
	cursor: pointer;	
	top: 6px;
}

.set_start_button:hover{
	color: #1e53d7;
}

.set_banned_button{
	position: absolute;
	top: 0px;
	right: 5px;
	color: #444444;
	cursor: pointer;	
	top: 6px;
}

.set_banned_button:hover{
	color: #FF0000;
}

#no_path_warning {
	color: #c62e2e;
	width: 100%;
	text-align: center;
	font-size: 30px;
}

.ban_entry {
	margin: 2px;
	display: inline-block;
	padding: 2px;
	background-color: #c33b3b;
	color: white;
	position: relative;
	border-radius: 4px;
}

.skill_entry {
	margin: 2px;
	display: inline-block;
	padding: 2px;
	background-color: #3bc384;
	color: white;
	position: relative;
	border-radius: 4px;
}

.remove_ban_button{
	position: absolute;
	top: 0px;
	right: 3px;
	color: #FFFFFF;
	cursor: pointer;	
	top: 1px;
	font-size: 20px;
}

.remove_ban_button:hover{
	color: #FF0000;
}

.remove_skill_button{
	position: absolute;
	top: 0px;
	right: 3px;
	color: #FFFFFF;
	cursor: pointer;	
	top: 1px;
	font-size: 20px;
}

.remove_skill_button:hover{
	color: #FF0000;
}



.ban_controls {
	border-bottom: 2px solid #fbcd05;
}

.go_button{
	display: inline-block;
	border: 2px solid #fbcd05;
	border-radius: 4px;
	padding-left: 2px;
	padding-right: 2px;
	background-color: white;
	color: black;
	cursor: pointer;
}

.go_button:hover{
	color: white;
	background-color: #fbcd05;
}

.listed_move {
	font-size: 12px;
	margin-left: 40px;
}

#copy_to_clipboard {
	position: absolute;
	right: 3px;
	top: 3px;
	font-size: 30px;
	cursor: pointer;
	color: #334e9b;
}

#copy_to_clipboard:hover {
	color: #334e9b;
}

#overlay {
	position: fixed;
	height: 100vh;
	width: 100vw;
	z-index: 9999;
	background-color: rgba(32, 146, 227, 0.5);
	top: 0;
	left: 0;
	display: none;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 	
}

.cssload-loader {
	width: 469px;
	height: 469px;
	line-height: 469px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	box-sizing: border-box;
	text-align: center;
	z-index: 0;
	text-transform: uppercase;
		-o-text-transform: uppercase;
		-ms-text-transform: uppercase;
		-webkit-text-transform: uppercase;
		-moz-text-transform: uppercase;
}

.cssload-loader:before,
.cssload-loader:after {
	opacity: 0;
	box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	content: "\0020";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 313px;
	border: 16px solid rgba(251,206,5,0.98);
	box-shadow: 0 0 156px rgb(251,206,5), inset 0 0 156px rgb(251,206,5);
		-o-box-shadow: 0 0 156px rgb(251,206,5), inset 0 0 156px rgb(251,206,5);
		-ms-box-shadow: 0 0 156px rgb(251,206,5), inset 0 0 156px rgb(251,206,5);
		-webkit-box-shadow: 0 0 156px rgb(251,206,5), inset 0 0 156px rgb(251,206,5);
		-moz-box-shadow: 0 0 156px rgb(251,206,5), inset 0 0 156px rgb(251,206,5);
}

.cssload-loader:after {
	z-index: 1;
	animation: cssload-gogoloader 2.3s infinite 1.15s;
		-o-animation: cssload-gogoloader 2.3s infinite 1.15s;
		-ms-animation: cssload-gogoloader 2.3s infinite 1.15s;
		-webkit-animation: cssload-gogoloader 2.3s infinite 1.15s;
		-moz-animation: cssload-gogoloader 2.3s infinite 1.15s;
}

.cssload-loader:before {
	z-index: 2;
	animation: cssload-gogoloader 2.3s infinite;
		-o-animation: cssload-gogoloader 2.3s infinite;
		-ms-animation: cssload-gogoloader 2.3s infinite;
		-webkit-animation: cssload-gogoloader 2.3s infinite;
		-moz-animation: cssload-gogoloader 2.3s infinite;
}



@keyframes cssload-gogoloader {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 0;
	}
}

@-o-keyframes cssload-gogoloader {
	0% {
		-o-transform: scale(0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-o-transform: scale(1);
		opacity: 0;
	}
}

@-ms-keyframes cssload-gogoloader {
	0% {
		-ms-transform: scale(0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-ms-transform: scale(1);
		opacity: 0;
	}
}

@-webkit-keyframes cssload-gogoloader {
	0% {
		-webkit-transform: scale(0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1);
		opacity: 0;
	}
}

@-moz-keyframes cssload-gogoloader {
	0% {
		-moz-transform: scale(0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-moz-transform: scale(1);
		opacity: 0;
	}
}

#worker_cancel {
	position: fixed;
	right: 10;
	bottom: 5;
	color: #444444;
	font-size: 60px;
	cursor: pointer;
	z-index: 9999;
}

#worker_cancel:hover{
	color: rgb(251,206,5);
}

@font-face{
 font-family:'digital-clock-font';
 src: url('digital-7.ttf');
}

#progress_display {	
	color: #444444;
	font-size: 100px;
	z-index: 9999;
	display: none;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	font-family:'digital-clock-font';
}


#discord_promotion {
	background-color: white;
	padding: 2px;
	font-weight: bold;
	text-align: right;
	position: absolute;
	right: 0;
	z-index: 5;
}

.digi_header {
	align-items: center;
}

.digi_header img{
	min-height: 32px;
	min-width: 32px;
}

.digi_name {
	text-align: left;
	font-size: 20px;
	margin-left: 35px;
}

.flex-container {
	display: flex;
}

.flex-item {
	display: inline-flex;
}

.db_link {
	margin-left: 5px;
	cursor: pointer;	
}

#skills_container {
	margin-left: 10px;
}

.control_section {
	padding: 10px;
	padding-top: 5px;
    padding-bottom: 5px;

}

.controls_digi_icon {
	
}

.skill_controls {
	height: 24px;
}

.skill_controls #end_move {

}

#path_tools {
	width: 500px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	background-color: #476dd9;
	align-items: center;
	justify-content: center;
	color: white;
	border-bottom-right-radius: 50px;
	border-bottom-left-radius: 50px;
	cursor: pointer;
	border-bottom: 2px solid #334e9b;
	border-right: 2px solid #334e9b;
	border-left: 2px solid #334e9b;
}

#path_tools:hover {
	background-color: #334e9b;
}

#find_move_path {
	cursor: pointer;
	height: 80%;
	align-items: center;
	border-radius: 4px;
}

#find_move_path div{
	padding: 5px;
}

#path_tools_container {
	position: relative;
}

#locale_select_container {
	margin-left: auto;
	color: white;
	font-size: 14px;
	align-items: center;
}

#locale_select {
	margin-left: 5px;
}

.banned_digi_name {
	display: inline-block;
}

#game_file_loader {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: calc(100vh - 57px);
	transition: 1s;
	background-color: rgba(51,78,155,0.7);
	font-size: 50px;
	animation-name: glow;
  	animation-duration: 4s;
	font-weight: bold; 
	color: #F1F1F1;
	z-index: 11;
	top: 57px;
}

@keyframes glow {
	0%   {opacity: 1;}
	25%  {opacity: 0.8;}
	50%  {opacity: 1;}
	75%  {opacity: 0.8;}
	100% {opacity: 1;}
  }

#game_file_loader.hidden {
	opacity: 0;
	pointer-events: none;
}

.digi_icon_container {
	width: 62px;
	height: 62px;
	margin: 3px;
	position: absolute;
	top: 4px;
	right: 4px;
	padding: 2px;
	border-bottom-left-radius: 10px;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.8);
}

.digi_icon {
	width: 100%;
	height: 100%;
	transform: scaleX(1) scaleY(-1);
	display: none;
}

.path_img_container {
	width: 62px;
	height: 62px;
	margin: 3px;
	top: 4px;
	right: 4px;
	padding: 2px;
	border-bottom-left-radius: 10px;
	overflow: hidden;
	background-color: rgba(200, 200, 200, 0.8);
}

.path_img_container .path_img{
	width: 100%;
	height: 100%;
	transform: scaleX(1) scaleY(-1);
}

#panes {
	display: flex;
	height: calc(100vh - 297px);
}

#path_pane {
	width: 50%;
}

#details_pane {
	background-color: rgba(255,255,255,0.5);
	border-left: 2px solid #334e9b;
	width: 50%;
}

.dex_pane_scroll {
	overflow-x: hidden;
    overflow-y: scroll;
	width: 100%;
	height: calc(100% - 90px);
}

.dex_pane {
	width: 100%;
    display: flex;
    flex-wrap: wrap;
	justify-content: center;
}

.dex_pane .section {
	border: 2px solid #334e9b;
    margin: 10px;
    width: calc(50% - 24px);
    overflow: hidden;
    min-width: 450px;
	background-color: rgba(0, 0, 0, 0.05);
}

.dex_pane .section.moves{
	width: calc(100% - 24px)
}

.dex_pane .section .inner{
	overflow: auto;
}
.dex_pane .row{
	display: flex;
	align-items: center;
	padding: 10px;
}


.dex_pane .row.name_info {
	padding: 0;
	padding-bottom: 8px;
}

.dex_pane .desc {
	font-size: 14px;
    color: #444444;
    font-style: italic;
    width: 100%;
    margin-left: auto;
    margin-right: 18px;
    background-color: #F1F1F1;
    padding: 8px;
    border-radius: 15px;
	margin-top: 8px;
}

.dex_img_container {
	width: 70px;
	height: 70px;
	margin: 3px;
	top: 4px;
	right: 4px;
	padding: 2px;
	border-bottom-left-radius: 10px;
	overflow: hidden;
	background-color: rgba(200, 200, 200, 0.8);
	flex-shrink: 0;
	overflow: hidden;
}

.dex_img_container .dex_img{
	width: 100%;
	height: 100%;
	transform: scaleX(1) scaleY(-1);
}

.dex_pane .section_header {
	padding: 6px 10px;
    background-color: #334e9b;
    color: #FFFFFF;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.dex_pane table.stats {
	text-align: center;
    padding: 10;
    background-color: #F1F1F1;
    margin: 10;
    border: 2px solid #E0E0E0;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
	width: 100%;
}


.dex_pane table.stats tr th{
	color: #476dd9;
}

.dex_pane table.stats.level_up tr td:first-child{
	text-align: right;
	font-weight: bold;
	color: #476dd9;
	width: 30px;
}

.dex_pane table.stats tr td{
	border-bottom: 1px solid #E0E0E0;;
}

.dex_pane table.stats tr td{
	padding: 6px 10px;
}

.dex_pane table.stats tr th{
	padding: 6px 10px;
}

.dex_pane #moves_table tr td:first-child{
	text-align: left;
}

.dex_pane #moves_table tr th:first-child{
	text-align: left;
}

.dex_pane #moves_table tr td{
	text-align: left;
}

.dex_pane #moves_table tr th{
	text-align: left;
}

.dex_pane .section.evos {
	width: calc(100% - 24px);
}

.dex_pane .section_sub_header {
	color: #334e9b;
    font-size: 20px;
    text-align: center;
    font-style: italic;
    margin-bottom: -13px;
}

.dex_pane .evo_entry {
	white-space: nowrap;
    flex-wrap: wrap;
	display: flex;
}

.dex_pane .evo_entries {
	width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    padding: 10;
    background-color: #F1F1F1;
    margin: 10;
    border: 2px solid #E0E0E0;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20;
	width: calc(100% - 40px);
	overflow: auto;
}

.dex_pane .section_prev .evo_entry .row {
	width: calc(100% - 20px);
}

.dex_pane .evo_entry .row{
	align-items: center;
	flex-shrink: 0;
	white-space: normal;
	width: calc(35% - 20px);
}

.dex_pane .evo_entry .dex_img_container {
	width: 50px;
    height: 50px;
}

.dex_pane .evo_entry .name {
	font-size: 19px;
	margin-left: 10px;
	color: #476dd9;
}

.dex_pane .evos_summary {
	justify-content: flex-start;
    align-items: flex-start;
}

.dex_pane .section_prev {
	width: 28%;
}

.dex_pane .section_next {
	width: 72%;
}

.dex_pane_header {
	display: flex;
	align-items: center;
	padding: 4px;
	background-color: #334e9b;
}

.dex_pane_header .row{
	display: flex;
	align-items: center;
	padding: 0px;
}


.dex_pane_header .banner {
	display: flex;
    align-items: center;
    width: 100%;
    background-color: #334e9b;
    color: #FFFFFF;
	padding: 0px 10px;
}

.dex_pane_header .name {
	margin-left: 40;
    margin-right: 40;
    font-size: 40;
    font-weight: bold;
    font-style: italic;
}

.row.evos {
	width: 60%;
	margin-left: auto;
    margin-right: auto;
}

.row.evos .evo_reqs_flex{
	margin-right: auto;
	margin-left: auto;
	min-width: 60%;
}

.evo_reqs_flex {
	display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    text-align: center;
    padding: 10;
    background-color: #F1F1F1;
    margin: 10;
    border: 2px solid #E0E0E0;
    border-radius: 20px;
    margin-left: auto;
    /* margin-right: auto; */
    min-width: calc(65% - 34px);
    justify-content: space-around;
    flex-grow: 1;
}

.evo_reqs_flex .block{
	border-bottom: 1px solid #F1F1F1;
}

.evo_reqs_flex .block .label{
	padding: 6px 10px;
	color: #476dd9;
}

.evo_reqs_flex .block .value{
	padding: 6px 10px;
}

.evo_reqs_flex .block .value.difficult{
	color:#c62e2e;
}

#moves_table .skill_entry {
	color: #000;
	background-color: rgba(0,0,0,0);
}

#moves_table .skill_entry.wanted {
	background-color: #3bc384;
    color: white;
}

#general_table {
	width: 60%;
}

.row_label {
	color: #476dd9;	
	font-weight: bold;
}

.support_skill_container {
	text-align: center;
    padding: 10;
    background-color: #F1F1F1;
    margin: 10;
    border: 2px solid #E0E0E0;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 40px);
	margin-top: 20px;
}

.support_skill_container .label {
	color: #476dd9;
	font-weight: bold;
}

.support_skill_container .value {
	margin-left: 20px;
	text-align: left;
}

.evo_warning {
	font-size: 25px;
    position: absolute;
    color: #c62e2e;
    top: 6px;
    right: 110px;
}

.row.encounters {
	justify-content: center;
	align-items: flex-start;
}

.row.encounters .enc_block {
	margin-left: 5px;
	margin-right: 5px;
}

.row.encounters .stats {
	margin-top: 20px;
}

.section.encounters {
	width: calc(60% - 24px);
}

.mon_selector {
	text-align: center;
    padding: 10;
    background-color: #F1F1F1;
    margin: 10;
    border: 2px solid #E0E0E0;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
	z-index: 5;
	position: absolute;
	top: 76px;

	-webkit-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.75);
}

.mon_selector.hidden {
	display: none;
}

.mon_selector .controls{
	justify-content: flex-start;
	padding: 10px;
}

.mon_selector .scroll{
	max-height: 500px;
	overflow-y: scroll;
}

.mon_selector .scroll .entry{
	display: flex;
	align-items: center;
	cursor: pointer;
	height: 80px;
}

.mon_selector .scroll .entry:nth-child(even){
	background-color: #E0E0E0;
}

.mon_selector .scroll .entry:hover{
	color: #476dd9;
	background-color: #bcc3d9;
}

.digi_btn {
	padding: 5px;
    margin: 5px;
    position: absolute;
    cursor: pointer;
    border-radius: 99px;
    border: 2px solid #E0E0E0;
    width: 65%;
    font-weight: bold;
    text-align: center;
    top: 36px;
    left: 3px;
}

.digi_btn:hover {
	background-color: #476dd9;
	color: #FFF;
	border-color: #334e9b ;
}

.row.filter {
	margin-top: 4px;
	padding: 2px;
	background-color: #E0E0E0;
	border-radius: 12px;
	display: flex;
	align-items: center;
	font-size: 12px;
	padding-left: 4px;
	padding-right: 4px;
	
	width: 100%;
}

.row.filter .label{
	margin-right: 9px;
	font-weight: bold;
	margin-left: 4px;
	color: #476dd9;
}

.row.filter .filter_entry {
	margin: 2px;
	display: flex;
	align-items: center;
	width: 44%;
}

.row.filter .filter_entry .label{
	margin-right: 4px;
}

.row.filter .filter_entry .filter_label {
	margin-right: auto;
}

.row.filter .reset {
	cursor: pointer;
	margin-left: 4px;
	margin-right: 4px;
}

#mon_search {
	margin-bottom: 4px;
}

.row.filter .options {
	display: flex;
	flex-wrap: wrap;
	width: 71%;
}

.row.filter .controls i {
	cursor: pointer;
}

.label.no_files {
	color: red;
	font-weight: bold;
}

#no_game_files_warning {
	color: red;
	width: 18px;
}

.row.no_files {
	padding: 0;
}